<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Category Management</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/semantic.min.css">
    <link th:href="@{/css/commons/sm.min.css}" rel="stylesheet" />
    <link th:href="@{/css/commons/sm-extend.min.css}" rel="stylesheet" />
    <link th:href="@{/css/shop/productcategorymanagement.css}" rel="stylesheet" />

</head>
<body>
<header class="bar bar-nav">
    <a class="button button-link button-nav pull-left back"
       href="javascript:history.back(-1)"> <span class="icon icon-left"></span> Return
    </a>
    <h1 class="title">Product Cateogry Management </h1>
</header>
<div class="content">
    <div class="content-block">
        <div class="row row-product-category">
            <div class="col-33">Category</div>
            <div class="col-33">Priority</div>
            <div class="col-33">Operation</div>
        </div>
        <div class="category-wrap"></div>
    </div>
    <div class="content-block">
        <div class="row">
            <div class="col-50">
                <a href="#" class="button button-big button-fill button-success"
                   id="new">Add</a>
            </div>
            <div class="col-50">
                <a href="#" class="button button-big button-fill" id="submit">Submit</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

<script type="text/javascript" th:src="@{/js/shop/productcategorymanagement.js}"></script>
<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
</body>
</html>
