<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shop List</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/semantic.min.css">
    <link th:href="@{/css/commons/sm.min.css}" rel="stylesheet" />
    <link th:href="@{/css/commons/sm-extend.min.css}" rel="stylesheet" />
    <link th:href="@{/css/shop/shoplist.css}" rel="stylesheet" />

</head>
<body>


<header class="bar bar-nav">
    <h1 class="title">Shop List</h1>
</header>
<div class="content">
    <div class="content-block">
        <p>
            Hello,<span id="user-name"></span><a class="pull-right"
                                              href="/o2o/shopoperation">Add Shop</a>
        </p>
        <div class="ui grid">
            <div class="four wide column">Shop Name</div>
            <div class="four wide column">State</div>
            <div class="four wide column">Operation</div>
        </div>


        <div class="shop-wrap"></div>
    </div>
    <div class="content-block">
        <div class="row">
            <div class="col-33">
                <a href="/o2o/local/accountbind?usertype=2"
                   class="button button-big button-fill button-success">Bind Account</a>
            </div>
            <div class="col-33">
                <a href="#" id="log-out" usertype="2"
                   class="button button-big button-fill button-danger">Log Out</a>
            </div>
            <div class="col-33">
                <a href="/o2o/local/changepsw?usertype=2"
                   class="button button-big button-fill button-success"
                   id="bindOrChange">Change Password</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script type="text/javascript" th:src="@{/js/shop/shoplist.js}"></script>

</body>
</html>
